*{
  box-sizing: border-box;
}



nav{
  background-color: rgba(0, 0, 0, .8);
  padding: 1rem;
  
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
  font-family: 'Space Mono', monospace;
  padding: 0.5rem 1rem;
}

.sigin-up {
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: 9999px;
}

nav a:hover {
  color: hsl(0, 0%, 77%);
  transition: color .15s ease-in-out;
}

.sigin-up:hover {
  background: white;
  color: black;
  transition: background-color .15s ease-in-out;
}



p {
  font-size: 1rem;
  font-family: 'Space Mono', monospace;
  margin-bottom: 1.25rem;
  padding: .5rem;
  text-align: justify;
}


@media (min-width: 768px) {

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
   nav a {
    float: right;
    width: 25%;
  }

  .home {
    float: left;
  }
  
   /* Clearfix */
    nav::after {
    content: "";
    clear: both;
    display: block;
  }
  
   body {
    width: 60%;
    margin: 5.25rem auto 1.25rem;
  }

}
