* {
  box-sizing: border-box;
}

.content {
  background: #ae001d;
  height: 100vh;
  text-align: center;
  font-size: 2rem;
}

.wrapper {
  min-height: 90vh;
  position: relative;
  padding-bottom: 50px; /* Equals height of the footer and pushes away the content in the case they would touch. */
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  display: table;
  width: 100vw;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
}

.wrapper-footer {
  display: table-cell;
  vertical-align: middle;
}

footer small {
  color: #ccc;
  letter-spacing: .025rem;
  margin-bottom: 1.5rem;
  display: block;
}

.footer-nav a {
  text-decoration: none;
  color: #c74f78;
  margin: 0 .5rem;
  display: inline-block;
}

.footer-nav a:hover {
  color: #f26896;
  transition: color .15s ease-in-out;
}


span {
  margin-top: 8rem;
  display: inline-block;
}
